.content_filter_wrap { display: block; background: #ededed; padding: 20px 20px 20px 15px; border-radius: 4px; position: relative; left: -22px; }
a.content-btn-send { display: block; background: #f13d41; color: #fff; text-transform: uppercase; font-size: 9px; font-family: "GothamProBold"; font-weight: 300; padding: 8px 13px; border-radius: 2px; margin-left: 5px; margin-top: 1px; text-align: center; }
a.content-btn-send:hover{ text-decoration: none; }
#datepicker1 .ui-icon{ display: none; }

#datepicker1 .ui-datepicker-title { text-transform: uppercase; font-size: 10px; padding: 6px 11px; border-top: 1px solid #f4f4f4; }
#datepicker1 .ui-datepicker-group-first .ui-datepicker-title{ border: none; }
div#datepicker1 { border: 3px solid #f4f4f4; }
#datepicker1 .ui-datepicker-calendar th { background: #f4f4f4; text-transform: uppercase; font-size: 9px; font-weight: 400; color: #bbb; height: 26px; vertical-align: middle; border-bottom: 2px solid #fff; }
#datepicker1 table.ui-datepicker-calendar { width: 175px; text-align: center; }
#datepicker1 .ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.ui-datepicker-multi-2.ui-datepicker-multi { width: 100% !important; }
#datepicker1 .ui-datepicker-calendar td { font-size: 10px; font-family: 'apercu_pro_mono'; border: 1px solid #fff; }

#datepicker1 .ui-datepicker-calendar td a { display: block; padding: 3px 3px 4px; }
#datepicker1 .ui-datepicker-calendar td:first-child { padding-left: 6px; }
#datepicker1 .ui-datepicker-calendar td:last-child { padding-right: 6px; }
#datepicker1 .ui-datepicker-calendar tr:last-child td { padding-bottom: 9px; }
#datepicker1 a.ui-state-default { color: #000; }
.link_numbers { display: block; overflow: hidden; width: 100%; border-top: 1px solid #eee; border-bottom: 1px solid #eee; padding: 12px 0; }
.m30t{ margin-top: 30px; }
.content { padding: 15px 0 0; margin-right: 240px; }
.link_numbers a{ color: #d52b1e; }

#datepicker1 .ui-datepicker-calendar td.specialDateGreen a { background-color: #e5f6ed; }
#datepicker1 .ui-datepicker-calendar td.specialDateRed a { background-color: #feebec; }