.pp-message{display: none; position: absolute; width: 450px; z-index: 55;}
.pp-message-wrp{background:url(/i/m_popup_dark_border.png) repeat left top;padding:10px}
.pp-message-content{background:#fff;font-size:12px;padding:1px}
.pp-message-title{background:#e03a3a;color:#fff;font-size:11px;font-weight:bold;margin:0 0 1px;padding:7px 10px 7px 10px;text-transform:uppercase}
.pp-message-close{background:url(/i/pp_close2.gif) no-repeat center;float:right;font-size:0;margin-top:2px;width:11px;height:11px;cursor:pointer}
.pp-message-submit{background:#eee;height:1%;overflow:hidden;padding:11px 9px 9px;text-align:center;}
.pp-message-btn{background:url(/i/button_red_bg.gif) repeat-x 0 0;border:1px solid #d33232;color:#fff;display:inline-block;font-size:14px;line-height:26px;height:26px;margin:0 0 0 14px;padding:0 10px;text-transform:uppercase;text-decoration:none;text-shadow:0 -1px 0 #d33232}
.pp-message-wrap{padding: 10px;}
.pp-message-tbl{width: 100%;}
.pp-message-str{}
.pp-message-cell{ vertical-align: middle; color: #AFAFAF;padding-bottom: 10px;}
.pp-message-cell-ava{width: 46px; padding-right: 10px; vertical-align:  top;}
.pp-message-cell-ava-link{width: 46px; height: 46px; overflow: hidden; display: block; position: relative;}
.pp-message-user-who{width: 46px; height: 11px; position: absolute; bottom: 0; left: 0; background: url(/i/profi.gif) 0 0 no-repeat;}
.pp-message-username{display: block; font-size: 12px; line-height: 14px; font-weight: bold;}
.pp-message-textarea{width: 96px; height: 88px; padding: 7px; }
.pp-message-sent{padding: 20px; text-align: center; color: #999; font-size: 14px; line-height: 18px; display: none;}
